---
layout: default
---

<!-- <section id="one" >
    <div class="container">
        {% for post in site.posts limit:1 %}
            <article>
                <header>
                    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                </header>
                <section class="post-content">
                    {{ post.excerpt }}
                </section>
                <section class="special">
                    <ul class="actions">
                        <li><a href="{{ post.url }}" class="button special">Read More</a></li>
                    </ul>
                </section>
            </article>
        {% endfor %}
    </div>
</section> -->
<section>
    <div class="container">
        <div class="features">
        {% for post in site.posts %}
        {% if post.top %}
            <article>
                <section class="excerpt">
                <header>
                    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                </header>
                
                    <!-- {{ post.content | truncatewords: 7 }} -->
                     <p>{{ post.excerpt }}</p>
                </section>
                <footer>
                    <ul class="actions">
                        <li><a href="{{ post.url }}" class="button">Read More</a></li>
                    </ul>
                </footer>
                <div class="clear"></div>
            </article>
            {% endif %}
        {% endfor %}
        {% for post in site.posts %}
        {% if post.lock %}
         <article>
                <section class="excerpt">
                <header>
                    <h3><a>{{ post.title }}</a></h3>
                </header>
                
                    <!-- {{ post.content | truncatewords: 7 }} -->
                     <p>**提示：这是一篇已经锁定的文章**</p>
                </section>
                <div class="clear"></div>
            </article>
                {% continue %}
            {% endif %}
        {% if post.top != true and post.lock != true %}
            <article>
                <section class="excerpt">
                <header>
                    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                </header>
                
                    <!-- {{ post.content | truncatewords: 7 }} -->
                     <p>{{ post.excerpt }}</p>
                </section>
                <footer>
                    <ul class="actions">
                        <li><a href="{{ post.url }}" class="button">Read More</a></li>
                    </ul>
                </footer>
                <div class="clear"></div>
            </article>
            {% endif %}
        {% endfor %}
        </div>
    </div>
</section>